.recordWrapper {
    width: 30%;
    font-size: 20px;
    background: grey;
    border-radius: 4px;
    padding: 8px;
    display: inline-block;
    margin: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.label {
    padding-right: 8px;
}